button{
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 1em;
    margin: 0.4em;
}

button:hover {
    cursor: pointer;
    background-color: #ec5840;
}

.screen{
    background-color: aliceblue;
    border-radius: 1em;
    padding: 1em;
}

.specialBtns {
    background-color: rgba(120, 185, 185, 0.510);
}

.specialBtns2 {
    background-color: rgba(120, 185, 185, 0.240);;
}

.result {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    font-size: 3em;
}